// Font
html {
  --poppins: 'Poppins', sans-serif;
  --open-sans: 'Open Sans', sans-serif;

  --font-default: var(--open-sans);
  --font-title: var(--open-sans);

  --color-accent:  #2E2E2E;
  --color-accent-hover: #d24e4e;
  --color-text: #F4F4F4;
  --color-white: white;
  --color-black: #000;

  --color-member-area: #FF1212;
  --color-docs-bg: #000000e0;
  --color-menu-bg: black;
  --color-header-color: var(--color-text);
  --color-header-bg-base: black;
  --color-header-bg-scrolled: #212529a8;
  --color-footer-bg: transparent;
  --color-btn-base: var(--color-accent);
  --color-btn-base-hover: var(--color-accent-hover);
  --color-btn-reversed: white;
  --color-btn-reversed-hover: #d24e4e;
  --color-checkbox: var(--color-accent);
  --color-lang: #454abf;

  --header-height: 70px;
  --section-offset: calc(var(--space-unit) * 6);

  --section-header-title-offset: calc(var(--space-unit) * 3);

  --text-48: calc(var(--space-unit) * 5);
  --text-40: calc(var(--space-unit) * 4);
  --text-24: calc(var(--space-unit) * 2.4);
  --text-20: calc(var(--space-unit) * 2);
  --text-18: calc(var(--space-unit) * 1.8);
  --text-16: calc(var(--space-unit) * 1.6);

  --space-unit: 10px;


  @media (max-width: 1199px) {
    --space-unit: 8.5px;
  }

  @media (max-width: 991px) {
    --text-24: 18px;
    --text-20: 16px;
    --text-18: 14px;

    --space-unit: 7px;
  }

  @media (max-width: 767px) {
    --space-unit: 6px;
  }

  @media (max-width: 575px) {
    --space-unit: 5px;
  }
}


$font: Lato, sans-serif;
$fontMerriweather: Merriweather, sans-serif;

// Main colors
$purple   : #9C00C3;
$blue      : #578FFA;
// var(--color-docs-bg) : #4125B2;
$yellow   : #FFC223;
$gray     : #646464;
$lightGrey: #EDEDEC;
$darkGray : #333333;
$red      : #e03333;
$green    : #78D241;


// Button
$btn-color-white: #fff;
$btn-color-black: #fff;

// Localization
$localization-text-color: #000;
$localization-arrow-color: #000;
$localization-hover-color: var(--color-docs-bg);

// Menu bg
$menu-bg: #fff;


// Header bg
$header-bg: $purple;

// MemberArea
