.section-title {
  font-family: var(--font-title);
  font-weight: 600;
  font-size: calc(var(--space-unit) * 4.8);
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: calc(var(--space-unit) * 2.4);
}
